.idea/
node_modules/
__pycache__/
.cache/
docs/build

SATSolver/interface/release-builds/Resolver-darwin-x64/

SATSolver/interface/run_build\.sh

SATSolver/main\.spec

SATSolver/dist/

SATSolver/build/
